button:hover {
  opacity: 0.8;
}

.col-sm-3half, .col-sm-8half {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (width: 1280px) {
  .invisible {
    display: none;
  }
}

.bg-about {
    background: url('../Assets/BgAbout.png');
    background-size: fill;

    top: 0;
}

.text-justify {
  text-align: justify;
}

.text-right {
  text-align: right;
}